<div class="container">
<a href='/department'>department</a>
<br>
<a href="/subject">subject</a>
<br>
<a href="/student">Student</a>
<br>
<a href="/doctor">doctor</a>
<br>
<a href="/admin">admin</a>
</div>