 <h1>subjects</h1>
<div class="d-flex justify-content-between">
    {{!-- <a href="doctor/create"> add new department</a> --}}
      <a href='/second'>Back to Adminstrator</a>
    </div>
{{#each doctorLog}}

<div class="d-flex justify-content-between"> 
    {{subject.name}}
   


</div>
{{/each}} 

